@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
*{
  margin: 0;
  
}
.App{
  background-color:white;
  /* text-align: center; */
  align-items: center;
  width: 100%;

}
.all_posts{
  margin: 0 3%;

}
@media only screen and (min-width:768px){


.all_posts{
  margin: 0 30%;

}
}


#logo{
  font-family: 'Syne Mono', monospace;

}
.app_header{
  background-color: powderblue;
  border-bottom: 1px solid lightgray;
  padding:20px;
  display:flex;
  justify-content: space-between;
  position:sticky;
  top:0;
  z-index:1;
}